html,
body,
#app {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  /* 随机背景图 
  background-image: url(https://www.dmoe.cc/random.php) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;*/
  background-color: whitesmoke;
}
/*全局字体*/
* {
  font-family: LXGW WenKai;
}
* {
  font-weight: bold;
}
body {
  font-family: LXGW WenKai;
}
